<div class="search-box text-center row" searchQuery={{query}}>
  <div class="row">
    <label>Graph Name:</label>
    <input type="text" ng-model="query.graphName" placeholder="Graph Name">
  </div>
  <div class="row">
    <label>Node Name:</label>
    <input type="text" ng-model="query.nodeName" placeholder="Node Name">
  </div>
  <div class="row">
    <label>N-Degrees:</label>
    <input type="text" ng-model="query.degrees" placeholder="Number of degrees through connection">
  </div>
  <button type="button" class="btn btn-primary" ng-click="graphSearchHandler.search()">Search</button>
  <p ng-show="searchErr">You must input a graph name.</p>
</div>